einops
captum
h5py
lifelines
matplotlib
numpy
openslide-python
opencv-python
pandas
pillow
pyyaml
scikit-image
scikit-learn
scikit-survival
scipy
seaborn
tensorboardX
tifffile
timm
torch
torch-geometric
torchmetrics
torchvision
tqdm
pytorch-lightning
